{% extends 'authroot.html' %}

{% block content %}
    <style>
        input{width:100%;height:35px;padding:10px;line-height:20px;font-size:20px;}
        button
        {
            background: linear-gradient(256deg, #00c9e4 0%, #007bff 100%);
            width: 100%;
            height: 35px;
            border: 1px solid #007bff;
            border-radius: 2px;
            color: white;
            font-weight: 600;
            font-size: 16px;
        }
    </style>
    <div class="col-md-4">
        {% if validlink %}
            <h3>Change password</h3>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
            </form>
        {% else %}
            <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
            </p>
        {% endif %}
    </div>
{% endblock %}