
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-section">
         <label for="" class="main_title">Sample Generation</label>
         <p class="text-grey">
            To download the PDB files from the website to the local directory where <a href="">RCSB Protein Data Bank</a> 
            the sample_details.cs file is located.
         </p>
         
         <div class="form-group">
             <label for="">Select the directory path where all the datasets are present:</label>
            <div class="input-group mb-3 W-450">
                <input type="text" class="form-control selected_file_name" placeholder="Value" readonly aria-label="Value" aria-describedby="btn_sample_upload">
                <div class="input-group-append">                   
                    <label for="btn_sample_upload" type="button" class="btn btn_right_side_radius" title="Upload">
                        <input type="file" id="btn_sample_upload" accept=".csv" hidden="">
                        Upload
                    </label>
                </div>
              </div>
         </div>        
        <p class="text-blue text-bold">
            Make sure the sample folder contains sample_details.csv file with the list of protein names to be downloaded.
        </p>
        <div class="form-group text-center">
            <button class="btn_generate_samples btn_blue">Generate Samples</button>
        </div>

        <div class="mt-5 show_results">
            
        </div>
        
    </div>     
{% endblock %}